
.text-center{
  text-align: center;
}

.container{
  width: 90%;
  margin-left: 5%;
}

.select{
  padding: 2%;
  margin-bottom: 5%;
}

#stars div{
  margin-top: 2%;
}

.showing{
  display: flex;
  justify-content: space-between;
}

.getHotels{
  width: 100%;
  padding: 2%;
  font-weight: bold;
  font-size:medium;
  border-radius: 10px;
  background: #ffd670;
  border: none;
  margin-top: 10%;
}


.calculate{
  width: 100%;
  padding: 2%;
  margin-top: 5%;
  font-weight: bold;
  font-size:medium;
  border-radius: 10px;
  background: #ffd670;
  border: none;
}

.addHotel{
  margin-bottom: 1em;
}

.backBtn{
  background: none;
  border: none;
}

.calForm div{
  margin: 6% 4%;
}
.calForm input{
  width:115px;
  margin-left: 2%;
}

.d-none{
  display: none;
}

.getNos {
  width: 90%;
  margin-left: 5%;
  margin-top: 2em;
}
.getNos  div{
  margin-top: 1em;
}

.text-center{
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

.coppee{
  background-color: #ffd670;
  margin-left: 5%;
  margin-top: 5%;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size:small;
}